
@font-face {
    font-family: "Neue Haas";
    src: url("./NeueHaasDisplayMediu.ttf") 
}
body {
    font-family: "Neue Haas";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main{
width: 100%;
height: 100vh;
background-color: bisque;
position: relative;
padding-left: 0 4vw;
}
.nav{
    padding: 2vw 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.nav1{
display: flex;
justify-content: center;
gap: 1vw;
font-size: larger;
color:black;
gap: 30px;
    margin-right: 35px;

}
.tags{
    border: 1px solid #8a8a8a89;
    overflow: hidden;
border-radius: 50px;
display: inline-flex;
    color: #000000bb;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    line-height: 1;
     z-index: 1;
     background: transparent;
}
.tags::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    z-index: -1;
}
.tags:hover::after {
    bottom: 0;
}
.tags:hover {
    color: #fff;
}
.center{
    height: 65vh;
    background-color: cyan;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid 00;
    padding: 0vw 4vw;
}
.left h3{
    width: 30vw;
    font-size: 1.8vw;
    line-height: 2vw;
}